@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <p><a href="/">Home</a></p>
  <p><text>Name: </text>@Model.GetName()</p>
  <p><text>Email: </text>@Model.GetEmail()</p>
  <p><text>Startdate: </text>@Model.GetStartDate()</p>
  <p>Clients:</p>
  <ul>
    @foreach(var client in Model.GetClients())
    {
      <li>@client.GetName()</li>
    }
  </ul>
  <p><a href="/clients/new">Add Client</a></p>
  <p>Specialties:</p>
  <ul>
    @foreach(var specialty in Model.GetSpecialties())
    {
      <li>@specialty.GetTitle()</li>
    }
  </ul>
  <p><a href="/specialties/new">Add Specialty</a></p>
</div>
<form action="/stylists/@Model.GetId()/delete" method="post">
  <button class="btn btn-danger" type="submit" name="button">Remove Stylist</button>
</form>

<!-- Model refers to whatever is passed into the View's parameters. In this case it's return View(stylist); -->
